The Pandas Library is built on Numpy and provides easy to use data structures and data analysis tools for the Python Programming Language

Two Types of Data Structures
    1. Series 
    2. DataFrame

In [8]:
# Pandas Series
import pandas as pd
s= pd.Series([3,-5,7,4], index = ['a','b','c','d'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

In [11]:
# Json File
data = {'Country':['Belguim','India','Brazil'],
        'Capital':['Brussels','New Delhi','Brasilla'],
        'Population':[1111,11112,2323]
         }

In [50]:
# Json File to Pandas DataFrame
df=pd.DataFrame(data,columns=['Country','Capital','Population'])
print(df)

   Country    Capital  Population
0  Belguim   Brussels        1111
1    India  New Delhi       11112
2   Brazil   Brasilla        2323

In [26]:
# Exploring I/O Operations in Pandas 
pd.read_csv('D:/Git/Data Analysis/test.csv',header=None,nrows=5)
df.to_csv('D:/Git/Data Analysis/Sucess.csv')

In [31]:
# Read and Write To CSV

x= pd.read_excel('D:/Git/Data Analysis/test.xls')

x.to_excel('D:/Git/Data Analysis/sucess.xls')

In [32]:
# Selection
s['b']

-5

In [57]:
# Get subset of a Dataframe
df[0:]

   Country    Capital  Population
0  Belguim   Brussels        1111
1    India  New Delhi       11112
2   Brazil   Brasilla        2323

In [87]:
# Selecting, Boolean Indexing & Setting
# By Position

df.loc[:,'Country']

0    Belguim
1      India
2     Brazil
Name: Country, dtype: object

In [84]:
df.iloc[1,]

Country           India
Capital       New Delhi
Population        11112
Name: 1, dtype: object

In [88]:
df.ix[:2]

   Country    Capital  Population
0  Belguim   Brussels        1111
1    India  New Delhi       11112
2   Brazil   Brasilla        2323

In [90]:
# Boolean Indexing 
df[(df['Population']>1112)]

  Country    Capital  Population
1   India  New Delhi       11112
2  Brazil   Brasilla        2323

In [93]:
# Setting
df['Age']=25
print(df)

   Country    Capital  Population  Age
0  Belguim   Brussels        1111   25
1    India  New Delhi       11112   25
2   Brazil   Brasilla        2323   25

In [94]:
# Read & Write to SQL Query or Database Table
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;",engine)
pd.read_sql_table('my_table',engine)
pd.read_sql_query("SELECT" * FROM my_table;",engine)

OperationalError: (sqlite3.OperationalError) no such table: my_table [SQL: 'SELECT * FROM my_table;']

In [95]:
pd.to_sql('myDf',engine)

AttributeError: module 'pandas' has no attribute 'to_sql'

In [96]:
# Sort & Rank
df.sort_index(by='Country')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

   Country    Capital  Population  Age
0  Belguim   Brussels        1111   25
2   Brazil   Brasilla        2323   25
1    India  New Delhi       11112   25

In [99]:
# Dropping 
s.drop(['a','c'])
df.drop('Country',axis=1)

     Capital  Population  Age
0   Brussels        1111   25
1  New Delhi       11112   25
2   Brasilla        2323   25

In [104]:
# Retrieving Series/DataFrame Information
# Basic Information
print(df.shape)
print(df.index)
print(df.columns)
print(df.info)
print(df.count)

(3, 4)
RangeIndex(start=0, stop=3, step=1)
Index(['Country', 'Capital', 'Population', 'Age'], dtype='object')
<bound method DataFrame.info of    Country    Capital  Population  Age
0  Belguim   Brussels        1111   25
1    India  New Delhi       11112   25
2   Brazil   Brasilla        2323   25>
<bound method DataFrame.count of    Country    Capital  Population  Age
0  Belguim   Brussels        1111   25
1    India  New Delhi       11112   25
2   Brazil   Brasilla        2323   25>

In [109]:
# Summary
print(df.sum())
print(df.cumsum())

Country              BelguimIndiaBrazil
Capital       BrusselsNew DelhiBrasilla
Population                        14546
Age                                  75
dtype: object
              Country                    Capital Population Age
0             Belguim                   Brussels       1111  25
1        BelguimIndia          BrusselsNew Delhi      12223  50
2  BelguimIndiaBrazil  BrusselsNew DelhiBrasilla      14546  75
Country        Belguim
Capital       Brasilla
Population        1111
Age                 25
dtype: object

In [110]:
print(df.min())

Country        Belguim
Capital       Brasilla
Population        1111
Age                 25
dtype: object

In [111]:
print(df.describe())

         Population   Age
count      3.000000   3.0
mean    4848.666667  25.0
std     5457.952394   0.0
min     1111.000000  25.0
25%     1717.000000  25.0
50%     2323.000000  25.0
75%     6717.500000  25.0
max    11112.000000  25.0

In [112]:
print(df.mean())

Population    4848.666667
Age             25.000000
dtype: float64

In [113]:
print(df.median())

Population    2323.0
Age             25.0
dtype: float64

In [117]:
# Applying Functions
f = lambda x:x*2
df.apply(f)

          Country             Capital  Population  Age
0  BelguimBelguim    BrusselsBrussels        2222   50
1      IndiaIndia  New DelhiNew Delhi       22224   50
2    BrazilBrazil    BrasillaBrasilla        4646   50

In [118]:
df.applymap(f)

          Country             Capital  Population  Age
0  BelguimBelguim    BrusselsBrussels        2222   50
1      IndiaIndia  New DelhiNew Delhi       22224   50
2    BrazilBrazil    BrasillaBrasilla        4646   50